<nz-card nzTitle="New Project">
  <form [formGroup]="validateForm" (ngSubmit)="onCreate()" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Product ID</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="validateForm.controls['id']">
        <input type="text" formControlName="id" nz-input />
        <ng-container *ngIf="isSubmitted && validateForm.controls['id'].invalid">
          <span class="error-message">Vui lòng nhập ID</span>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Product Name</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="validateForm.controls['name']">
        <input type="text" formControlName="name" nz-input />
        <ng-container *ngIf="isSubmitted && validateForm.controls['name'].invalid">
          <span class="error-message">Tên phải có ít nhất 5 ký tự</span>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Date of Start</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="validateForm.controls['date']">
        <input type="date" formControlName="date" nz-input />
        <ng-container *ngIf="isSubmitted && validateForm.controls['date'].invalid">
          <span class="error-message">Vui lòng chọn ngày</span>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Team Size</nz-form-label>
      <nz-form-control [nzSpan]="18" [nzValidateStatus]="validateForm.controls['size']">
        <input type="number" formControlName="size" nz-input />
        <ng-container *ngIf="isSubmitted && validateForm.controls['size'].invalid">
          <span class="error-message">Số lượng phải lớn hơn 0</span>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="24">
        <div style="display: flex; justify-content: center; gap: 6px; margin-top: 6px;">
          <button nz-button nzType="default" nzShape="round" style="background-color: #0096ff; color: white;" type="button" (click)="onCancel()">Cancel</button>

          <button nz-button nzType="default" nzShape="round" style="background-color: #0096ff; color: white;" type="submit">Save</button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<style>
  .error-message {
    color: red;
    font-size: 12px;
  }
</style>